body {
  background: #f5f5f5;
}

.hidden {
  display: none;
}

#paper {
  color: #bbb7b5;
  font-family: Nitti;
  line-height: 1.5;
  margin: 100px auto;
  white-space: pre-wrap;
  width: 60ch;
}

#text-input {
  color: #141414;
  display: block;
  font-family: Nitti;
  height: 400px;
  line-height: 1.5;
  margin: 100px auto;
  resize: none;
  white-space: pre-wrap;
  width: 600px;
}

#results, #instructions {
  color: #1dafe7;
  font-family: Nitti;
  line-height: 1.5;
  margin: 100px auto;
  white-space: pre-wrap;
  width: 60ch;
}

.typed {
  color: #141414;
}

#paper.error > span {
  color: #e25018;
}

.cursor {
  background: #1dafe7;
  color: #f5f5f5;
}

.cursor-error {
  background: #e25018;
  color: #f5f5f5;
}

.error {
  color: #e25018;
}
